body {
    margin: 0;
    padding: 0;
    background-color: grey;
}

.display-area {
    height: 500px;
    width: 1000px;
    border: 2px solid black;
    background-color:rgb(98, 97, 102);
    margin-left: 50px;
    margin-top: 50px;
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 3fr;
}

.sidebar {
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.new-book-button {
    height: 50px;
    width: 75%;
    place-self: center;
}

fieldset {
    border: 2px solid darkgrey;
}

label {
    color: white;
}

.card-display-area {
    display: grid;
    grid-column: 2 / 3;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    place-items: center;
    border: 2px solid darkgrey;
    padding-top: 30px;
    padding-bottom: 30px;
}

.book-card {
    height: 175px;
    width: 230px;
    border: 2px solid rgb(230, 230, 230);
}